{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:@next/next/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          {
            "group": ["../*"],
            "message": "Usage of relative parent imports is not allowed."
          }
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/no-unknown-property": [
      2,
      {
        "ignore": ["jsx", "global"]
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
