.Homepage {
  padding: 5vh 0;
}

.Homepage__Avatar {
  height: 60px;
  width: 60px;

  border-radius: 100%;

  translate: 0 20%;
}

.Homepage__Heading {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.Homepage__Publication:not(:first-of-type) {
  margin-top: 1rem;
}

.Homepage__Books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.Homepage__ReadMore {
  margin-top: 2em;
}
