.AppFooter {
  border-top: 1px solid var(--c-gray-6);
  padding: 1em 0 0;

  background-color: var(--c-gray-2);
}

.AppFooter__Nav {
  display: flex;

  list-style-type: none;
}

.AppFooter__Nav__Item {
  font-size: var(--fs-m);
  letter-spacing: 1px;

  font-weight: 700;
  text-transform: uppercase;
}

.AppFooter__Nav__Item:not(:first-of-type)::before {
  content: "/";

  margin: 0 5px;

  color: var(--c-yellow-9);
}

.AppFooter__Link {
  letter-spacing: 1px;

  color: var(--c-gray-12);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.AppFooter__Text {
  font-size: var(--fs-m);
  line-height: 1.65;
  margin-top: 1em;

  color: var(--c-gray-12);
  font-family: var(--ff-serif);
}

.AppFooter__Actions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  padding: 1em 0;
}

.AppFooter__Links {
  display: flex;

  list-style-type: none;
}

.AppFooter__Links__Item:not(:first-child) {
  margin-left: 0.5em;
}

.AppFooter__Links__Link {
  align-items: center;
  border: 2px solid var(--c-yellow-7);
  display: flex;
  font-size: var(--fs-s);
  justify-content: center;
  padding: 0.5em;

  background-color: var(--c-yellow-3);
  border-radius: 100%;
  color: var(--c-yellow-11);

  transition:
    background-color ease-in 150ms,
    border-color ease-in 150ms;
}

.AppFooter__Links__Link:hover {
  background-color: var(--c-yellow-4);
  border-color: var(--c-yellow-8);
}

.AppFooter__DarkModeToggle {
  align-items: center;
  border: 2px solid var(--c-gray-7);
  display: flex;
  font-size: var(--fs-s);
  gap: 0.5em;
  justify-content: center;
  padding: 0.5em;

  background-color: var(--c-gray-3);
  border-radius: 99999999px;
  color: var(--c-gray-11);
  cursor: pointer;
  font-family: var(--ff-sans-serif);

  transition:
    background-color ease-in 150ms,
    border-color ease-in 150ms;
}

.AppFooter__DarkModeToggle:hover {
  background-color: var(--c-gray-4);
  border-color: var(--c-gray-8);
}
