/**
 * Theme: Atom One Dark
 */
.Codeblock.Codeblock--Dark pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

.Codeblock.Codeblock--Dark .hljs {
  color: #abb2bf;
}

.Codeblock.Codeblock--Dark .hljs-comment,
.Codeblock.Codeblock--Dark .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.Codeblock.Codeblock--Dark .hljs-doctag,
.Codeblock.Codeblock--Dark .hljs-formula,
.Codeblock.Codeblock--Dark .hljs-keyword {
  color: #c678dd;
}

.Codeblock.Codeblock--Dark .hljs-deletion,
.Codeblock.Codeblock--Dark .hljs-name,
.Codeblock.Codeblock--Dark .hljs-section,
.Codeblock.Codeblock--Dark .hljs-selector-tag,
.Codeblock.Codeblock--Dark .hljs-subst {
  color: #e06c75;
}

.Codeblock.Codeblock--Dark .hljs-literal {
  color: #56b6c2;
}

.Codeblock.Codeblock--Dark .hljs-addition,
.Codeblock.Codeblock--Dark .hljs-attribute,
.Codeblock.Codeblock--Dark .hljs-meta .hljs-string,
.Codeblock.Codeblock--Dark .hljs-regexp,
.Codeblock.Codeblock--Dark .hljs-string {
  color: #98c379;
}

.Codeblock.Codeblock--Dark .hljs-attr,
.Codeblock.Codeblock--Dark .hljs-number,
.Codeblock.Codeblock--Dark .hljs-selector-attr,
.Codeblock.Codeblock--Dark .hljs-selector-class,
.Codeblock.Codeblock--Dark .hljs-selector-pseudo,
.Codeblock.Codeblock--Dark .hljs-template-variable,
.Codeblock.Codeblock--Dark .hljs-type,
.Codeblock.Codeblock--Dark .hljs-variable {
  color: #d19a66;
}

.Codeblock.Codeblock--Dark .hljs-bullet,
.Codeblock.Codeblock--Dark .hljs-link,
.Codeblock.Codeblock--Dark .hljs-meta,
.Codeblock.Codeblock--Dark .hljs-selector-id,
.Codeblock.Codeblock--Dark .hljs-symbol,
.Codeblock.Codeblock--Dark .hljs-title {
  color: #61aeee;
}

.Codeblock.Codeblock--Dark .hljs-built_in,
.Codeblock.Codeblock--Dark .hljs-class .hljs-title,
.Codeblock.Codeblock--Dark .hljs-title.class_ {
  color: #e6c07b;
}

.Codeblock.Codeblock--Dark .hljs-emphasis {
  font-style: italic;
}

.Codeblock.Codeblock--Dark .hljs-strong {
  font-weight: 700;
}

.Codeblock.Codeblock--Dark .hljs-link {
  text-decoration: underline;
}
