.Hero {
  --wave-height: 25vw;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20vh 5vw 5vh;
  position: relative;

  background: var(--c-indigo-9);
  color: var(--c-white);
  margin-bottom: calc(var(--wave-height) / 1.5);
}

.Hero::after {
  content: "";

  bottom: calc(-1 * var(--wave-height) + 1px); /* prevents a little blank line in some devices (iPad) */
  height: var(--wave-height);
  left: 0;
  position: absolute;
  width: 100%;

  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%233e63dd' fill-opacity='1' d='M0,256L48,229.3C96,203,192,149,288,128C384,107,480,117,576,138.7C672,160,768,192,864,202.7C960,213,1056,203,1152,186.7C1248,171,1344,149,1392,138.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
}

.Hero h1 {
  font-size: var(--fs-xl);
  letter-spacing: -1px;
  line-height: 1.15;
  margin-bottom: 0.1em;

  font-family: var(--ff-sans-serif);
}

.Services {
  display: grid;
  padding: 5em 0;
  row-gap: 5em;
}

.Service {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Service::before {
  content: "";

  height: 3em;
  margin-bottom: 0.5em;
  width: 3em;

  background-size: contain;
}

.Service--Consulting::before {
  background-image: url("/static/img/icons/services.svg");
}

.Service--Training::before {
  background-image: url("/static/img/icons/idea.svg");
}

.Service h2 {
  font-size: var(--fs-l);
}

.Service p {
  font-size: var(--fs-m);
  line-height: 1.65;
  text-align: center;
}

.Service__Button {
  --transition-delay: 0.15s;

  border: 2px solid var(--c-indigo-7);
  font-size: var(--fs-m);
  margin-top: 1em;
  padding: 0.5em 1em;

  background-color: var(--c-indigo-3);
  border-radius: 99999px;
  color: var(--c-indigo-11);
  font-weight: 400;
  text-decoration: none;

  transition: border-color var(--transition-delay) ease-in, background-color var(--transition-delay) ease-in;
}

.Service__Button:hover {
  background-color: var(--c-indigo-4);
  border-color: var(--c-indigo-8);
}

.Picture {
  max-width: 100%;
}

@media screen and (min-width: 750px) {
  .Services {
    column-gap: 5em;
    grid-auto-flow: column;
  }

  .Picture {
    margin: 0 auto;
    max-width: 85%;
    width: 800px;
  }
}
