:root {
  --c-black-100: #e6e6e6;
  --c-black-200: #bbbbbf;
  --c-black-400: #070715;
  --c-blue-700: #30318e;
  --c-blue-400: #4b4cdf;
  --c-blue-300: #5e5ddf;
  --c-white: #fff;
  --c-yellow: #ffdb58;

  --ff-serif: "IBM Plex Serif", serif;
  --ff-sans-serif: "IBM Plex Sans", sans-serif;
  --ff-monospace: "IBM Plex Mono", monospace;

  --fs-xl: 2.5em;
  --fs-l: 1.5em;
  --fs-m: 18px;
  --fs-s: 0.8em;
  --fs-xs: 0.6em;
  --fs-xxs: 0.5em;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: var(--fs-m);
  width: 100%;
}

body {
  color: var(--c-black-400);
  font-family: var(--ff-sans-serif);
}

@media screen and (min-width: 320px) {
  :root {
    --fs-m: calc(18px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --fs-m: 24px;
  }
}
