.Post__Footer {
  font-size: var(--fs-s);
  margin: 2rem 0 1rem;
}

.Post__Footer__List {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  justify-content: flex-end;

  list-style-type: none;
}

.Post__Footer__ListItem {
  align-items: center;
  display: flex;
}

.Post__Footer__ListItem:not(:first-child)::before {
  content: "·";
  margin-right: 0.5rem;

  color: var(--c-gray-11);
}

.Post__Footer__Link {
  color: var(--c-gray-11);
}
