.AppHeader {
  box-sizing: border-box;
  padding: 1em 0;
  width: 100%;

  background-color: var(--c-gray-1);
  color: var(--c-gray-12);
}

.Menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}

.Menu--NoBackLink {
  flex-direction: row-reverse;
}

.Menu__BackLink {
  font-size: var(--fs-m);
  font-weight: 700;
}

.Menu__Link {
  align-items: center;
  display: flex;
  gap: 0.25em;

  color: currentColor;
  text-decoration: none;
}

.Menu__List {
  display: flex;
  flex-direction: row;
  gap: 1em;

  list-style-type: none;
}

.Menu__Item {
  font-size: var(--fs-m);

  color: var(--c-gray-12);
  cursor: pointer;
  font-weight: 700;
}
