@import "./themes/dark.css";
@import "./themes/light.css";

.Codeblock {
  font-size: var(--fs-s);
  margin-bottom: 1em;

  background-color: var(--c-gray-2);
}

/* Overrides */
.Codeblock .Code {
  font-size: 1em;
  padding: 0;

  background: none;
}
