@import "~prismjs/themes/prism-tomorrow.css";

.Codeblock[class*="language-"] {
  font-size: var(--fs-s);
  margin-bottom: 1em;

  background-color: var(--c-gray-2);
}

/* Overrides */
.Codeblock .Code {
  padding: 0;
}
