@import "../components/Blockquote/style.css";
@import "../components/Breadcrumbs/style.css";
@import "../components/Code/style.css";
@import "../components/Codeblock/style.css";
@import "../components/Collections/style.css";
@import "../components/Figure/style.css";
@import "../components/Heading/style.css";
@import "../components/Link/style.css";
@import "../components/List/style.css";
@import "../components/PostThumbnail/style.css";
@import "../components/Text/style.css";
@import "../components/Timestamp/style.css";

@import "../layouts/Application/style.css";
@import "../layouts/Application/components/Article/style.css";
@import "../layouts/Application/components/Footer/style.css";
@import "../layouts/Application/components/Header/style.css";
@import "../layouts/Application/components/Column/style.css";
@import "../layouts/Post/style.css";
@import "../layouts/Post/components/Footer/style.css";
@import "../layouts/Posts/style.css";

@import "./pages/index.css";
@import "./pages/collections/[slug].css";
@import "./pages/library.css";

@import "./utils.css";

:root {
  --ff-serif: var(--font-ibm-plex-serif);
  --ff-sans-serif: var(--font-ibm-plex-sans);
  --ff-monospace: var(--font-ibm-plex-mono);

  /* Typographic scale based on Perfect Fourth ratio (1.333) */
  --fs-2xl: 2.369rem;
  --fs-xl: 1.777rem;
  --fs-l: 1.333rem;
  --fs-m: 1rem;
  --fs-s: 0.75rem;
  --fs-xs: 0.563rem;

  --c-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: var(--fs-m);
  width: 100%;

  background-color: var(--c-gray-1);
  color: var(--c-gray-12);
}

body {
  font-family: var(--ff-sans-serif);
}

@media screen and (min-width: 320px) {
  :root {
    --fs-m: calc(18px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --fs-m: 24px;
  }
}
