@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/grayDark.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigoDark.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/yellowDark.css";

@import "../components/Blockquote/style.css";
@import "../components/Breadcrumbs/style.css";
@import "../components/Button/style.css";
@import "../components/Code/style.css";
@import "../components/Codeblock/style.css";
@import "../components/Figure/style.css";
@import "../components/Heading/style.css";
@import "../components/Link/style.css";
@import "../components/List/style.css";
@import "../components/PostThumbnail/style.css";
@import "../components/Text/style.css";
@import "../components/Timestamp/style.css";

@import "../layouts/Application/style.css";
@import "../layouts/Application/components/Article/style.css";
@import "../layouts/Application/components/Footer/style.css";
@import "../layouts/Application/components/Header/style.css";
@import "../layouts/Application/components/Column/style.css";
@import "../layouts/Post/style.css";
@import "../layouts/Post/components/Footer/style.css";
@import "../layouts/Posts/style.css";

@import "./pages/index.css";
@import "./pages/collections.css";

:root {
  --ff-serif: var(--font-ibm-plex-serif);
  --ff-sans-serif: var(--font-ibm-plex-sans);
  --ff-monospace: var(--font-ibm-plex-mono);

  --fs-xl: 2.5em;
  --fs-l: 1.5em;
  --fs-m: 18px;
  --fs-s: 0.8em;
  --fs-xs: 0.6em;
  --fs-xxs: 0.5em;
}

:root,
.dark-theme {
  --c-gray-1: var(--gray1);
  --c-gray-2: var(--gray2);
  --c-gray-3: var(--gray3);
  --c-gray-4: var(--gray4);
  --c-gray-5: var(--gray5);
  --c-gray-6: var(--gray6);
  --c-gray-7: var(--gray7);
  --c-gray-8: var(--gray8);
  --c-gray-9: var(--gray9);
  --c-gray-10: var(--gray10);
  --c-gray-11: var(--gray11);
  --c-gray-12: var(--gray12);

  --c-indigo-1: var(--indigo1);
  --c-indigo-2: var(--indigo2);
  --c-indigo-3: var(--indigo3);
  --c-indigo-4: var(--indigo4);
  --c-indigo-5: var(--indigo5);
  --c-indigo-6: var(--indigo6);
  --c-indigo-7: var(--indigo7);
  --c-indigo-8: var(--indigo8);
  --c-indigo-9: var(--indigo9);
  --c-indigo-10: var(--indigo10);
  --c-indigo-11: var(--indigo11);
  --c-indigo-12: var(--indigo12);

  --c-yellow-1: var(--yellow1);
  --c-yellow-2: var(--yellow2);
  --c-yellow-3: var(--yellow3);
  --c-yellow-4: var(--yellow4);
  --c-yellow-5: var(--yellow5);
  --c-yellow-6: var(--yellow6);
  --c-yellow-7: var(--yellow7);
  --c-yellow-8: var(--yellow8);
  --c-yellow-9: var(--yellow9);
  --c-yellow-10: var(--yellow10);
  --c-yellow-11: var(--yellow11);
  --c-yellow-12: var(--yellow12);

  --c-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: var(--fs-m);
  width: 100%;
}

body {
  font-family: var(--ff-sans-serif);
}

@media screen and (min-width: 320px) {
  :root {
    --fs-m: calc(18px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --fs-m: 24px;
  }
}
